@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

body {
  text-align:center;
  font-family: Poppins, sans-serif;
  background-color: rgb(7, 97, 12);
  color: white;
}
canvas {
  border: 2px solid rgb(152, 251, 152);
}

p, li, a {
    font-size: 10px;
    line-height: 2;
    letter-spacing: 1px;
    color: white;
  }